body {
    background-color: rgba(7, 4, 28, 0.883);
    text-align: center;
}
h1 {
    font-family: "italic";
    color: rgb(35, 233, 144);
    font-size: 7rem;
    margin: 5rem 0 0 0;
}
.player {
    display: inline-block;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 1.5rem;
}

.dice1{
    margin: 0 2rem 0 0;
    
}

.dice2{
    margin: 0 0 0 2rem;
    
}